<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="head">Tic-Tac-Toe</h1>
    <div class="game">
        <div class="container">
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
        </div>
    <div class="winnerDiv">
        <h1 class="winner"></h1>
    </div> 
     </div>
    <div class="btns">
        <button class="reset-btn">Reset Game</button>
        <form action="/TicTac"method="get">
            <button class="reset-btn Exit">Exit</button>
        </form>
    </div>


    <script src="/app.js"></script>
</body>
</html>

